body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
font-family: "Lobster", cursive;
    
}



.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #fc4a1a, #f7b733);
  color: white;
  
}
.jumbotron h2 {
  color: #f1dede;
}

