body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
font-family: "Lobster", cursive;
    
}



.jumbotron {
  margin: 0;
  padding: 25px;
  background-image: linear-gradient(to right, #fc4a1a, #f7b733);
  color: white;
  
}
.jumbotron h2 {
  color: #f1dede;
}
#canvas{
  background-color: black;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 30px;
  display: block;
}

#gameStartButton{
  margin: auto;
  margin-bottom: 20px;
  display: block;
}